[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Terminal=false

#  --app='https://youtube.com'

Exec=/bin/sh -c "chromium --no-default-browser-check --extension-mime-request-handling=always-prompt-for-install --load-extension='/home/lewelove/.web-applications/extensions/Chromium.Web.Store' --app='https://youtube.com' --user-data-dir='/home/lewelove/.web-applications/profiles/youtube' --password-store=basic --hide-fullscreen-exit-ui=enabled --no-default-browser-check --hide-scrollbars"


# Point to the SVG you downloaded
Icon=chrome-www.youtube.com__-default
