[Desktop Entry]
Name=Fedora-Toolbox
GenericName=Terminal entering Fedora-toolbox
Comment=Terminal entering Fedora-toolbox
Categories=Distrobox;System;Utility
Exec=foot sh -c "cd ~/distoboxed/fedora-toolbox/tilde && distrobox enter fedora-toolbox"
Icon=/home/lewelove/.local/share/icons/distrobox/fedora.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
Type=Application
